
<div class="row">
  <div class="large-1 columns">
    <h1>Dashboard</h1>
    <!--<div class="small-2 large-4 columns">-->
    <!--</div>-->
    <ul class="small-block-grid-3">
      <li>
      <!-- Your content goes here -->

      <a href="#/patients" class="button secondary">
	<p>Patients in PT</p>
	<p>500</p>
      </a>
      </li>
      <li>
      <!-- Your content goes here -->
      <!--<p>Within Norms: 450</p>-->
      <a href="#/patients" class="button success">
	<p>Within Norms</p>
	<p>450</p>
      </a>
      </li>
      <li>
      <!--<p>Below Norms: 50</p>-->
      <a href="#/patients" class="button alert">
	<p>Below Norms</p>
	<p>50</p>
      </a>
      <!-- Your content goes here -->
      </li>
    </ul>
  </div>
</div>

