
<div class="row">
  <div class="large-1 columns">

    <h1>Patient List</h1>

    <table>
      <thead>
	<tr>
	  <th width="200">Patient Name
	  </th>
	  <th>September</th>
	  <th>August</th>
	  <th>July</th>
	  <!--<th width="150">Table Header-->
	  <!--</th>-->
	  <!--<th width="150">Table Header-->
	  <!--</th>-->
	</tr>
      </thead>
      <tbody>

      <tr ng-repeat="patient in patients">
	  <!--<div>-->
	  <!--</div>-->
	  <td>
	    <a href="#/patients/{{patient.id}}">
	    {{ patient.name }}
	</a>
	<td ng-repeat="result in patient.results">
	  {{ result }}
	</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
