
<div class="row">
  <div class="large-8 columns">

    <h1>Patient List</h1>

    <table>
      <thead>
	<tr>
	  <th width="150">Patient Name
	  </th>
	  <th>September</th>
	  <th>August</th>
	  <th>July</th>
	  <!--<th width="150">Table Header-->
	  <!--</th>-->
	  <!--<th width="150">Table Header-->
	  <!--</th>-->
	</tr>
      </thead>
      <tbody>

      <tr ng-repeat="patient in patients">
	  <!--<div>-->
	  <!--</div>-->
	  <td>
	    <a href="#/patients/{{patient.id}}">
	    {{ patient.name }}
	</a>
	<td ng-repeat="result in getResults(patient)">
	  <!--img/red-x.png-->
	  <img src="{{getImagePath(result.result)}}" height="80" width="80" />
	  <!--{{ result.result }}-->
	</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
