<div class="row">
  <div class="large-8 columns">
    <h1>Patient Detail: {{ patient.name }}</h1>


    <table>
      <thead>
	<tr>
	  <th ng-repeat="trial in trials">
	    {{ trial.date }}
	  </th>
	</tr>
      </thead>
      <tbody>

      <tr ng-repeat="result in trial.results">
	  <!--<div>-->
	  <!--</div>-->
	  <td>
	    {{ result }}
	  </td>
	<!--</a>-->
	<!--<td ng-repeat="result in patient.results">-->
	  <!--{{ result }}-->
	<!--</td>-->
      </tr>
      </tbody>
    </table>

    <a href="#/patients/{{patient.id}}/contact">
      <p>Contact Info</p>
    </a>

  </div>
</div>
