
<div class="row">
  <div class="large-1 columns">

    <h1>Patient List</h1>

    <table>
      <thead>
	<tr>
	  <th width="200">Patient Name
	  </th>
	  <th>Table Header
	  </th>
	  <th width="150">Table Header
	  </th>
	  <th width="150">Table Header
	  </th>
	</tr>
      </thead>
      <tbody>

      <tr ng-repeat="patient in patients">
	  <!--<div>-->
	  <!--</div>-->
	  <td>
	    <a href="#/patients/{{patient.id}}">
	    {{ patient.name }}
	</a>
	  </td>
	  <td>This is longer content Donec id elit non mi porta gravida at eget metus.
	  </td>
	  <td>Content Goes Here
	  </td>
	  <td>Content Goes Here
	  </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
